doctype html
html
  head
    title Robot Claw
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic', type='text/css')
    link(rel='stylesheet', href="bower_components/foundation/css/foundation.css")
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src="/socket.io/socket.io.js")

  body
    block content
